.sign_in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
}

.sign_in_backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sign_in__wrapper form {
  width: 50rem;
  height: 50rem;
  max-width: 90%;
  max-height: 90%;
  z-index: 1;
  animation: showSignInForm 1s;
}

.sign_in__wrapper form .mb-2 {
  margin-bottom: 100rem;
}

.sign_in__wrapper form .d-grid {
  margin-top: 1rem;
}

.sign_in__wrapper form img {
  width: 4rem;
  max-width: 10%;
}

.sign_in_contents {
  margin-bottom: 5rem;
}

@keyframes showSignInForm {
  0%,
  30% {
    transform: translate(0, -150%);
  }

  70%,
  90% {
    transform: translate(0, 1rem);
  }

  80%,
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 768px) {
  .sign_in__wrapper form {
    width: 90vw;
    height: auto;
  }

  .sign_in__wrapper form img {
    width: 4rem;
  }
}
