.sidebarArea {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  flex-shrink: 0;
  width: 260px;
  background-color: white;
}
.contentArea {
  flex-grow: 1;
}
.container {
  padding: 1rem;
  max-width: 1300px;
  margin: 0 auto;
}
.wholeLayout {
  min-height: 100vh;
  display: flex !important;
}
@media (min-width: 1024px) {
  .wholeLayout {
    display: flex !important;
  }
}

@media (max-width: 768px) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 2;
    margin-left: -260px;
    transition: 0.2s ease-in;
  }
  .showSidebar {
    margin-left: 0px;
  }
}
