.sidebarBorder {
  padding: 0.75rem;
}
.logo {
  display: flex;
  align-items: center;
}
.btn {
  display: none;
}
@media (max-width: 768px) {
  .btn {
    display: block;
  }
}
.navArea {
  padding-top: 1rem;
  margin-top: 0.5rem;
}
.sidebarNav {
  padding-left: 0rem;
}
.title {
  margin-left: 0.75rem;
  display: inline-block;
}
.currentLink {
  color: #3b71ca;
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
}
.restLink {
  color: #9fa6b2;
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
}
.sidenavBg {
  list-style-type: none;
  margin-bottom: 1rem;
}
.sidenavBg:hover {
  background-color: #f8f9fa;
  border-radius: 0.3rem;
}
